<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>固定列 - 数据表格</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/yuebao/yuebao_input.css">
</head>

<body>
  <div class="layui-form table-top">
    <div class="layui-col-space10  yuebao-top">
      <div class="layui-col-md1">
        <select>
          <option value="1">项目编号</option>
          <option value="2">项目名称</option>
          <option value="3">子项编号</option>
          <option value="4">子项名称</option>
          <option value="4">项目负责人</option>
        </select>
      </div>
      <div class="layui-col-md2">
        <input type="text" name="title" placeholder="请输入内容" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal search-btn">搜索</button>
      </div>
    </div>
  </div>
  <div class="layui-fluid table-main">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card-body">
          <table class="layui-hide" id="test-table-fixed" lay-data="{id: 'idTest'}">
            <!-- 普通输入框模板 -->
            <script type="text/html" id="inputTpl">
              <input type="text" style="width:100%" class="project_num_cont" data-id="{{d.id}}">
            </script>
            <!-- 项目编号输入框模板 -->
            <script type="text/html" id="project_num">
              <input type="text" style="width:110px" class="project_num_cont" data-id="{{d.id}}"
                value="{{d.xmbh}}">
            </script>
            <!-- 项目名字模板 -->
            <script type="text/html" id="project_name">
              <input type="text" style="width:110px" class="project_name_cont" data-id="{{d.id}}"
                value="{{d.xmmc}}">
            </script>
            <!-- 子项编号模板 -->
            <script type="text/html" id="subitem_num">
              <input type="text" style="width:110px" class="subitem_num_cont" data-id="{{d.id}}"
                value="{{d.zxbh}}">
            </script>
            <!-- 子项名称模板 -->
            <script type="text/html" id="subitem_name">
              <input type="text" style="width:110px" class="subitem_name_cont" data-id="{{d.id}}"
                value="{{d.zxmc}}">
            </script>
            <!-- 商务总监弹出选择框模板 -->
            <script type="text/html" id="buss_people">
              <input type="text" style="width:110px" class="buss_people_cont" data-id="{{d.id}}"
              value="{{d.swzj}}">
            </script>
            <!-- 设计总监弹出选择模板 -->
            <script type="text/html" id="design_people">
              <input type="text" style="width:110px" class="design_people_cont" data-id="{{d.id}}"
              value="{{d.sjzj}}">
            </script>
            <!-- 项目负责人弹出选择模板 -->
            <script type="text/html" id="project_leader">
              <input type="text" style="width:110px" class="project_leader_cont" data-id="{{d.id}}"
              value="{{d.xmfzr}}">
            </script>
            <!-- 月报维护人弹出选择模板 -->
            <script type="text/html" id="yuebao_defend">
              <input type="text" style="width:110px" class="yuebao_defend_cont" data-id="{{d.id}}"
              value="{{d.ybwhr}}">
            </script>
            <!-- 项目来源模板 -->
            <script type="text/html" id="project_source">
              <div class="layui-form" lay-filter="xmly" >
                <select class="layui-form project_source_cont" lay-filter="xmly_cont" name="xmly" data-id="{{d.id}}"
                > 
                  <option value="{{d.xmly}}">{{d.xmly}}</option>
                </select>
              </div>
            </script>
            <!-- 省模板 -->
            <script type="text/html" id="provinceTpl">
              <div class="layui-form ">
                <!-- <form> -->
                <select name="province" class="province" lay-filter="province" data-id="{{d.id}}">
                  <option value="{{d.province}}">{{d.province}}</option>
                </select>
                <!-- </form> -->
              </div>
            </script>
            <!-- 市模板 -->
            <script type="text/html" id="cityTpl">
              <select class="city" lay-filter="city" data-id="{{d.id}}">
                <option  value="{{d.city}}">{{d.city}}</option>
              </select>
            </script>
            <!-- 项目等级模板 -->
            <script type="text/html" id="xmdj">
              <div class="layui-form" lay-filter="xmdj" >
                <select class="xmdj_cont" lay-filter="xmdj_cont" data-id="{{d.id}}">
                  <option value="{{d.xmdj}}">{{d.xmdj}}</option>
                </select>
              </div>
            </script>
            <!-- 合同签订状态模板 -->
            <script type="text/html" id="htqdzt">
              <div class="layui-form" lay-filter="htqdzt">
                <select class="htqdzt_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 合同签订时间模板 -->
            <script type="text/html" id="htqdsj">
              <input type="text" style="width:130px" class="htqdsj_time">
            </script>
            <!-- 合同建筑面积数模板 -->
            <script type="text/html" id="htjzmjs">
              <input type="number" step="0.1" min="0" style="width:110px" class="htjzmjs_cont" data-id="{{d.id}}"
                value="{{d.htjzmjs}}">
            </script>
            <!-- 合同建筑面积单位模板 -->
            <script type="text/html" id="htjzmjdw">
              <input type="text" style="width:110px;background:#fff;border:1px solid #A9A9A9" class="htjzmjs_cont"
                value="平方米" disabled>
            </script>
            <!-- 产值前置面积类型模板 -->
            <script type="text/html" id="czqzmjlx">
              <div class="layui-form" lay-filter="czqzmjlx">
                <select class="czqzmjlx_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 产值前置面积(万方)模板 -->
            <script type="text/html" id="czqzmj">
              <input type="number" step="0.0001" min="0" style="width:120px" class="czqzmj_cont" data-id="{{d.id}}"
                value="{{d.czqzmj}}">
            </script>
            <!-- 子项原始合同额(万)模板 -->
            <script type="text/html" id="zxyshte">
              <input type="number" step="0.000001" min="0" style="width:120px" class="zxyshte_cont" data-id="{{d.id}}"
                value="{{d.zxyshte}}">
            </script>
            <!-- 子项合同结算额(万)模板 -->
            <script type="text/html" id="zxhtjse">
              <input type="number" step="0.000001" min="0" style="width:120px" class="zxhtjse_cont" data-id="{{d.id}}"
                value="{{d.zxhtjse}}">
            </script>
            <!-- 子项外包合同额(万)模板 -->
            <script type="text/html" id="zxwbhte">
              <input type="number" step="0.000001" min="0" style="width:120px" class="zxwbhte_cont" data-id="{{d.id}}"
                value="{{d.zxwbhte}}">
            </script>
            <!-- 结构超限模板 -->
            <script type="text/html" id="jgcx">
              <div class="layui-form" lay-filter="jgcx">
                <select class="jgcx_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 收款切分项目类型模板 -->
            <script type="text/html" id="skqfxmlx">
              <div class="layui-form" lay-filter="skqfxmlx">
                <select class="skqfxmlx_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 设计阶段组成模板 -->
            <script type="text/html" id="sjjdzc">
              <div class="layui-form" lay-filter="sjjdzc">
                <select class="sjjdzc_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 合同签订公司模板 -->
            <script type="text/html" id="htqdgs">
              <div class="layui-form" lay-filter="htqdgs">
                <select class="htqdgs_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 拓展公司模板 -->
            <script type="text/html" id="tzgs">
              <div class="layui-form" lay-filter="tzgs">
                <select class="tzgs_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 是单专业/全专业扩初项目模板 -->
            <script type="text/html" id="kcxmlx">
              <div class="layui-form" lay-filter="kcxmlx">
                <select class="kcxmlx_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 方案扩初二合一报批模板 -->
            <script type="text/html" id="fakcehybp">
              <div class="layui-form" lay-filter="fakcehybp">
                <select class="fakcehybp_cont">
                  <option value="0"> </option>
                  <option value="1">&nbsp;</option>
                  <option value="2">是</option>
                </select>
              </div>
            </script>
            <!-- 项目进度模板 -->
            <script type="text/html" id="xmjd">
              <div class="layui-form" lay-filter="xmjd">
                <select class="xmjd_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 项目进度模板最新 -->
            <script type="text/html" id="xmjdnew">
              <div class="layui-form" lay-filter="xmjdnew">
                <select class="xmjdnew_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 起始日期-方案模板 -->
            <script type="text/html" id="qsrq_fa">
              <input type="text" style="width:130px" class="qsrq_fa_time">
            </script>
            <!-- 终止日期-方案模板 -->
            <script type="text/html" id="zzrq_fa">
              <input type="text" style="width:130px" class="zzrq_fa_time">
            </script>
            <!-- 参与专业-方案模板 -->
            <script type="text/html" id="cyzy_fa">
              <div class="layui-form" lay-filter="cyzy_fa">
                <select class="cyzy_fa_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 起始日期-扩初模板 -->
            <script type="text/html" id="qsrq_kc">
              <input type="text" style="width:130px" class="qsrq_kc_time">
            </script>
            <!-- 终止日期-扩初模板 -->
            <script type="text/html" id="zzrq_kc">
              <input type="text" style="width:130px" class="zzrq_kc_time">
            </script>
            <!-- 参与专业-扩初模板 -->
            <script type="text/html" id="cyzy_kc">
              <div class="layui-form" lay-filter="cyzy_kc">
                <select class="cyzy_kc_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 起始日期-施工图模板 -->
            <script type="text/html" id="qsrq_sgt">
              <input type="text" style="width:130px" class="qsrq_sgt_time">
            </script>
            <!-- 终止日期-施工图模板 -->
            <script type="text/html" id="zzrq_sgt">
              <input type="text" style="width:130px" class="zzrq_sgt_time">
            </script>
            <!-- 参与专业-施工图模板 -->
            <script type="text/html" id="cyzy_sgt">
              <div class="layui-form" lay-filter="cyzy_sgt">
                <select class=" cyzy_sgt_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 起始日期-后期模板 -->
            <script type="text/html" id="qsrq_hq">
              <input type="text" style="width:130px" class="qsrq_hq_time">
            </script>
            <!-- 终止日期-后期模板 -->
            <script type="text/html" id="zzrq_hq">
              <input type="text" style="width:130px" class="zzrq_hq_time">
            </script>
            <!-- 参与专业-后期模板 -->
            <script type="text/html" id="cyzy_hq">
              <div class="layui-form" lay-filter="cyzy_hq">
                <select class="cyzy_hq_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 规划景观BIM标记模板 -->
            <script type="text/html" id="ghjgbim">
              <div class="layui-form" lay-filter="ghjgbim">
                <select class=" ghjgbim_cont">
                  <option value="0"> </option>
                </select>
              </div>
            </script>
            <!-- 截止上年年末已完成工作量比例--方案模板 -->
            <script type="text/html" id="jzsbnmywcgzlbl_fa">
              <input type="text" style="width:250px;background:#fff;border:1px solid #A9A9A9" class="htjzmjs_cont"
                value="0" disabled>
            </script>
            <!-- 截止上年年末已完成工作量比例--扩初模板 -->
            <script type="text/html" id="jzsbnmywcgzlbl_kc">
              <input type="text" style="width:250px;background:#fff;border:1px solid #A9A9A9" class="htjzmjs_cont"
                value="0" disabled>
            </script>
            <!-- 截止上年年末已完成工作量比例--施工图模板 -->
            <script type="text/html" id="jzsbnmywcgzlbl_sgt">
              <input type="text" style="width:250px;background:#fff;border:1px solid #A9A9A9" class="htjzmjs_cont"
                value="0" disabled>
            </script>
            <!-- 截止上年年末已完成工作量比例--后期服务模板 -->
            <script type="text/html" id="jzsbnmywcgzlbl_hqfw">
              <input type="text" style="width:250px;background:#fff;border:1px solid #A9A9A9" class="htjzmjs_cont"
                value="0" disabled>
            </script>
            <!-- 累计至提报日期已完成工作量比例--方案模板 -->
            <script type="text/html" id="ljztbrqywcgzlbl_fa">
              <input type="number" step="0.0001" min="0" style="width:250px" class="ljztbrqywcgzlbl_fa_cont"
                data-id="{{d.id}}" value="{{d.ljztbrqywcgzlbl_fa}}">
            </script>
            <!-- 累计至提报日期已完成工作量比例--扩初模板 -->
            <script type="text/html" id="ljztbrqywcgzlbl_kc">
              <input type="number" step="0.0001" min="0" style="width:250px" class="ljztbrqywcgzlbl_kc_cont"
                data-id="{{d.id}}" value="{{d.ljztbrqywcgzlbl_kc}}">
            </script>
            <!-- 累计至提报日期已完成工作量比例--施工图模板 -->
            <script type="text/html" id="ljztbrqywcgzlbl_sgt">
              <input type="number" step="0.0001" min="0" style="width:250px" class="ljztbrqywcgzlbl_sgt_cont"
                data-id="{{d.id}}" value="{{d.ljztbrqywcgzlbl_sgt}}">
            </script>
            <!-- 累计至提报日期已完成工作量比例--后期服务模板 -->
            <script type="text/html" id="ljztbrqywcgzlbl_hqfw">
              <input type="number" step="0.0001" min="0" style="width:250px" class="ljztbrqywcgzlbl_hqfw_cont"
                data-id="{{d.id}}" value="{{d.ljztbrqywcgzlbl_hqfw}}">
            </script>
            <!-- 本年预计完成合同额判断标准模板 -->
            <script type="text/html" id="bnyjwchtepdbz">
              <div class="layui-form" lay-filter="bnyjwchtepdbz">
                <select class=" bnyjwchtepdbz_cont">
                  <option value="0">&nbsp;</option>
                  <option value="1">A</option>
                  <option value="2">B</option>
                  <option value="3">C</option>
                </select>
              </div>
            </script>
            <!-- 预计至本年年末可完成工作量比例--方案 -->
            <script type="text/html" id="yjzbnmkwcgzlbl_fa">
              <input type="number" step="0.0001" min="0" style="width:100%" class="yjzbnmkwcgzlbl_fa_cont"
                data-id="{{d.id}}" value="{{d.yjzbnmkwcgzlbl_fa}}">
            </script>
            <!-- 预计至本年年末可完成工作量比例--扩初 -->
            <script type="text/html" id="yjzbnmkwcgzlbl_kc">
              <input type="number" step="0.0001" min="0" style="width:100%" class="yjzbnmkwcgzlbl_kc_cont"
                data-id="{{d.id}}" value="{{d.yjzbnmkwcgzlbl_kc}}">
            </script>
            <!-- 预计至本年年末可完成工作量比例--施工图 -->
            <script type="text/html" id="yjzbnmkwcgzlbl_sgt">
              <input type="number" step="0.0001" min="0" style="width:100%" class="yjzbnmkwcgzlbl_sgt_cont"
                data-id="{{d.id}}" value="{{d.yjzbnmkwcgzlbl_sgt}}">
            </script>
            <!-- 预计至本年年末可完成工作量比例--后期服务 -->
            <script type="text/html" id="yjzbnmkwcgzlbl_hqfw">
              <input type="number" step="0.0001" min="0" style="width:100%" class="yjzbnmkwcgzlbl_hqfw_cont"
                data-id="{{d.id}}" value="{{d.yjzbnmkwcgzlbl_hqfw}}">
            </script>
             <!-- 是否长期暂停模板 -->
             <script type="text/html" id="sfcqzt">
              <div class="layui-form" lay-filter="sfcqzt">
                <select class="sfcqzt_cont">
                  <option value="0">&nbsp;</option>
                  <option value="1">是</option>
                </select>
              </div>
            </script>
             <!-- 青岛项目是否做供暖模板 -->
             <script type="text/html" id="qdxmsfzgn">
              <div class="layui-form" lay-filter="qdxmsfzgn">
                <select class="qdxmsfzgn_cont">
                  <option value="0">&nbsp;</option>
                  <option value="1">是</option>
                </select>
              </div>
            </script>
            <!-- 专业负责人-建筑-扩初及以后阶段弹出选择框模板 -->
            <script type="text/html" id="zyfzr_jz_kc">
              <input type="text" style="width:100%" class="zyfzr_jz_kc_cont">
            </script>
            <!--专业负责人-结构弹出选择框模板 -->
            <script type="text/html" id="zyfzr_jg">
              <input type="text" style="width:100%" class="zyfzr_jg_cont">
            </script>
            <!--专业负责人-给排水弹出选择框模板 -->
            <script type="text/html" id="zyfzr_gps">
              <input type="text" style="width:100%" class="zyfzr_gps_cont">
            </script>
             <!--专业负责人-电气弹出选择框模板 -->
             <script type="text/html" id="zyfzr_dq">
              <input type="text" style="width:100%" class="zyfzr_dq_cont">
            </script>
             <!--专业负责人-暖通弹出选择框模板 -->
             <script type="text/html" id="zyfzr_nt">
              <input type="text" style="width:100%" class="zyfzr_nt_cont">
            </script>
            <!--周报维护人选择框模板 -->
            <script type="text/html" id="zbwhr">
              <input type="text" style="width:100%" class="zbwhr_cont">
            </script>
            <!-- 代收款已开票模板 -->
          <script type="text/html" id="dskykp">
          </script>
           <!-- 代收款待开票模板 -->
           <script type="text/html" id="dskdkp">
          </script>
          <!-- 未到收款节点模板 -->
          <script type="text/html" id="wdskjd">
          </script>
          <!-- 往年已收款模板 -->
          <script type="text/html" id="wnysk">
          </script>
          <!-- 当年已收款模板 -->
          <script type="text/html" id="dnysk">
          </script>
           <!-- 收款总额模板 -->
           <script type="text/html" id="skze">
           </script>
           <!-- 辅运营模板 -->
           <script type="text/html" id="fyy">
           </script>
          </table>
          <div class="yuebao_btn">
            <input type="text" placeholder="请输入行数" class="layui-input line-input">
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="addTable">加行</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="showDetail">显示细节</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="saveBtn">保存</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="daochu">导出XLS</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="hidden1" class="people-choose" lay-filter="hidden1" style="display: none;">
    <table id="buss-people" lay-filter="buss-people"></table>
  </div> -->

  <!-- <script src="../../layuiadmin/lib/jquery.min.js"></script> -->
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script src="../../layuiadmin/lib/extend/tableSelect.js"></script>
  <script src="../../layuiadmin/lib/extend/area.js"></script>
  <script src="../../layuiadmin/js/yuebao/yuebao_input.js"></script>
</body>

</html>